*~
.metadata
erlide.log
erlide.log.lck

*.app
*.beam
*.bup
*.log
*.dump
*.pyc
*.swp
*.so
*.o


*.LOG
*.DAT
*.DCD

app.config
app_dev.config

*ebin/*
*cbin/*
*priv/db/*
*priv/session-db/*

js*/source/script/*
js*/cache/*
js*/build/*

static/data/*
static/data/adv/*
static/data/game/*
static/data/docs/*
static/data/*

./static/site-media/css/base.css
./static/site-media/css/base.bgi.css
./static/site-media/css/base.css3.css

.pydevproject
.project
.settings

